# Ignore saved model
Saved_Models/

#Ignore Datasets
*.zip
*.pyc
__pycache__/
Utils/__pycache__
Datasets/BloodMNIST
Datasets/FashionMNIST
Datasets/PneumoniaMNIST
Datasets/MedMNIST
Datasets/PlantLeaf
Datasets/UCMerced
Datasets/OrganMNISTCoronal
Datasets/PRMI
Datasets/Synthetic_Gray_Sigma_0.1
Datasets/Synthetic_RGB_Sigma_0.1
Images
